.tabs0{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffff;
  transition: height 0.2s linear;
}
.tabs1{
  height: 100px;

  composes:tabs0;
}
.tabs0>div{
  flex: 1;
  padding: 10px 20px;
}