.none{
    display: none;
}
.toast{
    position: fixed;
    bottom: 100px;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
}
.text{
    display: inline-block;
    padding: 2px 4px;
    max-width: 200px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-family: PingFangSC-Medium;
}
.big{
    animation: big 0.3s forwards;
}
@keyframes big{
    from {transform: scale(0,0);}
    to {transform: scale(1,1);}
}
.small{
    animation: small 0.3s forwards;
}
@keyframes small{
    from { transform: scale(1,1); }
    to { transform: scale(0,0);}
}