.fragment{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.scrollView{
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  box-sizing: border-box;
  width: 375px;
  background-color: burlywood;
}