.none{
  display: none;
}
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.child{
  position: absolute;
  top: 50%;
  left: 50%;
}
.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.big{
  animation: big 0.3s forwards;
}
.small{
  animation: small 0.3s forwards;
}
.show{
  animation: show 0.3s forwards;
}
.hide{
  animation: hide 0.3s forwards;
}
@keyframes show{
  from { opacity: 0; }
  to { opacity: 1;}
}
@keyframes hide{
  from { opacity: 1; }
  to { opacity: 0;}
}
@keyframes big{
  from { transform: translate(-50%, -50%) scale(0,0); }
  to { transform: translate(-50%, -50%) scale(1,1);}
}
@keyframes small{
  from { transform: translate(-50%, -50%) scale(1,1); }
  to { transform: translate(-50%, -50%) scale(0,0);}
}

.timeEnd{
  box-sizing: border-box;
  width: 250px;
  height: 130px;
  border: 1px solid rgba(151,151,151,0.80);
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #747B82 0%, #40454B 100%);
  box-shadow: 4px 4px 0 0 rgba(87,87,87,0.48);
}
.timeEndText{
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  color: #F6F7FB;
  letter-spacing: 0;
  font-size: 12px;
  font-family: PingFangSC-Medium;
}
.timeEndText span{
  color: #FDCD87;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100px;
  height: 37px;
  /* border: 1px solid #FDCD87; */
  border: 1px solid #ffffff;
  background-image: linear-gradient(135deg, #575E6D 0%, #2C303B 100%);
  box-shadow: inset 0 0 0 2px #7E5E2F;
  color: #F6F7FB;
  letter-spacing: 0;
  font-size: 14px;
  font-family: PingFangSC-Medium;
}
.resetBox{
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 250px;
  height: 80px;
  border: 1px solid rgba(151,151,151,0.80);
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #747B82 0%, #40454B 100%);
  box-shadow: 4px 4px 0 0 rgba(87,87,87,0.48);
}