*{
  margin: 0;
  padding: 0;
  border: 0;
}
html,body,#main{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.hairlines div{
  border-width: 0.5px;
}
.animateIn{
  width: 375px;
  height: 540px;
  background-image: url(./assets/head@3x.png);
  background-size: 100% 100%;
  animation: show 0.5s forwards;
}
.animateOut{
  width: 140px;
  height: 228px;
  background-image: url(./assets/item.png);
  background-size: 100% 100%;
  animation: hide 0.5s forwards;
}
@keyframes show{
  from { opacity: 0; }
  to { opacity: 1;}
}
@keyframes hide{
  from { opacity: 1; }
  to { opacity: 0;}
}